.DS_Store
qBittorrent/
fish_variables
.config/lazygit/state.yml
.config/nvim/lazy-lock.json
.config/tmux/sessions
.config/containers
.*_history*
.zcomp*
.netrwhist
.config/helm
.config/mdless
.config/argocd
charts/
*.lock
*.bak

.env
.venv
*.local*
local.*
*.http
.terraform/*
.terraform*

tags
yandex-cloud/
