[submodule ".config/fish"]
	path = .config/fish
	url = git@github.com:Chirikumbrah/fish.git
[submodule ".scripts"]
	path = .scripts
	url = git@github.com:Chirikumbrah/scripts.git
[submodule ".config/dwm"]
	path = .config/dwm
	url = git@github.com:Chirikumbrah/dwm.git
