[submodule ".config/fish"]
	path = .config/fish
	url = https://github.com/Chirikumbrah/fish.git
[submodule ".scripts"]
	path = .scripts
	url = https://github.com/Chirikumbrah/scripts.git
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/Chirikumbrah/dwm.git
[submodule ".config/libreoffice"]
	path = .config/libreoffice
	url = https://github.com/Chirikumbrah/libreoffice.git
