[user]
    email = dvps4k@gmail.com
	name = Chirikumbrah
[core]
    editor = $EDITOR
    pager = delta
	excludesFile = ~/.gitignore
[help]
    autocorrect = 20
[pull]
    rebase = true
[hooks]
    mailinglist = "dvps4k@gmail.com"
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    side-by-side = true
    pager = "less -RF --mouse"
    line-numbers = true
[merge]
	tool = "nvim_difftool"
[mergetool]
	keepBackup = false
	prompt = false
	tool = "nvim_difftool"
[difftool "nvim_difftool"]
  cmd = nvim -c \"packadd nvim.difftool\" -d \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = nvim_difftool
[difftool]
	prompt = false
[credential]
	helper = store
[gpg]
	program = gpg
