[submodule ".config/fish"]
	path = .config/fish
	url = https://notabug.org/Chirikumbrah/fish.git
[submodule ".scripts"]
	path = .scripts
	url = https://notabug.org/Chirikumbrah/scripts.git
[submodule ".config/dwm"]
	path = .config/dwm
	url = https://notabug.org/Chirikumbrah/dwm.git
[submodule ".config/libreoffice"]
	path = .config/libreoffice
	url = https://notabug.org/Chirikumbrah/libreoffice.git
[submodule ".config/wayland_configs"]
	path = .config/wayland_configs
	url = https://notabug.org/Chirikumbrah/wayland_configs.git
[submodule ".config/gtklock/modules/gtklock-powerbar-module"]
	path = .config/gtklock/modules/gtklock-powerbar-module
	url = https://github.com/jovanlanik/gtklock-powerbar-module.git
