.DS_Store
qBittorrent/
fish_variables
.config/lazygit/state.yml
.config/nvim/lazy-lock.json
.config/nvim/.luarc.json
.config/tmux/sessions
.*_history*
.zcomp*
.netrwhist
.config/helm
.config/mdless
.config/argocd

.env
local.docker-compose.yml
docker-compose.local.yml

tags
