* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #bd93f9;
}

tooltip {
  color: #f8f8f2;
  background: #282a36;
  border-color: #f8f8f2;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
}

#workspaces button {
  color: #44475a;
  background: #282a36;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 10px;
  padding: 5px;
}

#workspaces button.active {
  color: #bd93f9;
  background: #282a36;
  border-radius: 10px;
}

#workspaces button.focused {
  color: #bd93f9;
  background: #282a36;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #282a36;
  background: #50fa7b;
  border-radius: 10px;
}

#workspaces button:hover {
  color: #282a36;
  background: #bd93f9;
  border-radius: 5px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#language,
#backlight {
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 2px solid;
  border-radius: 10px;
}

#clock {
  color: #f8f8f2;
  background: #282a36;
  border-color: #bd93f9;
  margin-right: 10px;
  margin-left: 10px;
}

#workspaces {
  border-color: #bd93f9;
  background: #282a36;
  padding-right: 0px;
  padding-left: 0px;
}

#window {
  color: #bd93f9;
  border-color: #bd93f9;
  background: #282a36;
  margin-left: 60px;
  margin-right: 60px;
}

#pulseaudio {
  color: #ffb86c;
  background: #282a36;
  padding-right: 5px;
  border-color: #bd93f9;
  border-right: none;
  border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
  color: #ffb86c;
  background: #282a36;
  padding-right: 5px;
  border-color: #bd93f9;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

#backlight {
  color: #f1fa8c;
  background: #282a36;
  padding-right: 5px;
  border-color: #bd93f9;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

#temperature {
  color: #8be9fd;
  background: #282a36;
  padding-right: 5px;
  border-color: #bd93f9;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

#temperature.critical {
  color: #ff5555;
  background: #282a36;
  padding-right: 5px;
  border-color: #bd93f9;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

#battery {
  color: #ff79c6;
  background: #282a36;
  padding-right: 5px;
  border-color: #bd93f9;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

#battery.warning {
  color: #ffb86c;
  background: #282a36;
  padding-right: 5px;
  border-color: #bd93f9;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

#battery.critical {
  color: #ff5555;
  background: #282a36;
  padding-right: 5px;
  border-color: #bd93f9;
  border-right: none;
  border-left: none;
  border-radius: 0px;
}

#language {
  color: #50fa7b;
  background: #282a36;
  border-color: #bd93f9;
  margin-right: 10px;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
}

#tray {
  background: #282a36;
  border-color: #bd93f9;
  margin-right: 10px;
}