* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

tooltip {
  background: #282a36;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

#workspaces button {
  color: #44475a;
  padding: 5px;
  margin-right: 5px;
  animation: 3s ease-in 1s;
}

#workspaces button.active {
  color: #bd93f9;
}

#workspaces button.focused {
  color: #bd93f9;
  background: #282a36;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #282a36;
  background: #50fa7b;
  border-radius: 10px;
}

#workspaces button:hover {
  color: #282a36;
  background: #bd93f9;
  border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#language,
#backlight {
  background: #282a36;
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 2px solid #ff79c6;
  border-radius: 20px;
}

#temperature {
  color: #8be9fd;
  border-color: #8be9fd;
  margin-right: 10px;
}

#temperature.critical {
  color: #ff5555;
}

#backlight {
  color: #f1fa8c;
  border-color: #f1fa8c;
  margin-right: 10px;
}

#tray {
  margin-right: 5px;
  border-color: #f8f8f2;
}

#workspaces {
  border-color: #bd93f9;
  background: #282a36;
  margin-left: 10px;
  padding-right: 0px;
  padding-left: 5px;
}

#language {
  color: #50fa7b;
  border-color: #50fa7b;
  min-width: 30px;
  margin-right: 10px;
}

#window {}

#clock {
  color: #bd93f9;
  border-color: #bd93f9;
  margin-right: 10px;
}

#pulseaudio {
  color: #ffb86c;
  border-color: #ffb86c;
  margin-right: 10px;
}

#pulseaudio.microphone {
  color: #ffb86c;
  border-left: 0px;
  border-right: 0px;
  margin-right: 10px;
}

#battery {
  color: #ff79c6;
  margin-right: 10px;
}