* {
  background-color: transparent;
}

window {
  background-color: rgba(49, 49, 58, 0.8);
}

button {
  color: #f8f8f2;
  background-color: transparent;
  border: 2px solid #bd93f9;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  padding: 100px;
}

button:focus,
button:active,
button:hover {
  background-color: #44475a;
  outline-style: none;
}

#lock {
  background-image: image(url("./icons/lock.png"));
}

#logout {
  background-image: image(url("./icons/logout.png"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.png"));
}

#reboot {
  background-image: image(url("./icons/reboot.png"));
}