[Desktop Entry]
Encoding=UTF-8
Type=Application
Terminal=false
Exec=/home/yr/.apps/reaper/reaper
Name=Reaper
Icon=/home/yr/.apps/reaper/Resources/main.png
